__pycache__
.idea
.ipynb_checkpoints
bot.log
*.conf
*.session
godnoscop/curr.json
.pre-commit-config.yaml
holidays.json
img/colocola.jpg
img/nz.jpg
img/eva/0.webp
img/eva/1.webp
img/eva/2.webp
img/eva/3.webp
img/eva/4.webp
img/eva/5.webp
img/eva/6.webp
